// Mixins
@mixin universal-styles {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Colours
$color-white: #fff;
$color-primary-light: #e4e9f4; // light-grey
$color-primary-dark: #257ebd; // dark-blue
$color-blue-light: #408dc5; // light-blue

// Font
$font-default: "Calibri";
$font-size-default: 1.6rem; /* 16px, used across the website */

// Utilities
.u-center-text {
  	text-align: center;
}

.u-margin-bottom-small {
  	margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  	margin-bottom: 2rem;
}

.u-margin-bottom-big {
  	margin-bottom: 4rem;
}

// Universal styles
* {
  	@include universal-styles;
}

.app {
	background-color: $color-primary-light;
	padding: 4rem;

	&__container {
		background-color: $color-primary-dark;
		color: white;
		font-weight: bold;
		padding: 4rem;
		border-radius: 2.5rem;
	}
}

html {
  	font-size: 62.5%; /* root font size of 10px / default font size of 16px */
}
    
body {
    font-size: $font-size-default;
	font-family: $font-default;
}
